@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Patient

<h3>Are you sure you want to delete this patient?</h3>
<hr />
<p class="patient-info">@Html.DisplayFor(model => model.Name)</p>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn"/>
}
<p>@Html.ActionLink("Back to patients list", "Index")</p> 